<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인 | SALM</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <div th:replace="~{fragments/header :: common-header}"></div>

  <main class="main">
    <h1>로그인</h1>
    <form method="post" action="/login" class="login-form">
      <label for="username">아이디</label>
      <input type="text" id="username" name="username" required>

      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">로그인</button>
    </form>
    <div class="login-links">
      <a href="/signup">회원가입</a> |
      <a href="/forgot">아이디/비밀번호 찾기</a>
    </div>
  </main>

  <div th:replace="~{fragments/footer :: common-footer}"></div>
</body>
</html>
